body {
 background-image: linear-gradient(#FFFFFF,#d3fff6);
 font-family: Columbus, serif;
 font-size: 100%
}

h1{
font-size: 250%;
color: #d3fff6;
text-align: center;
}

h2{
font-size:150%;
color:#d3fff6;
padding-left: 15px;
}

p{
color:#d3fff6;
}
